vim/bundle/*
mutt/temp/*
mutt/cache/*
nvim/plugged/*
nvim/__pycache__
*.pyc
temp/*
.directory
*_old
awesome/.session
openbox/menu.xml.bak
tint2/*.backup.*
nvim/.netrwhist
scripts/backups/backup_all.sh
*.pyc
nvim/plugin
*.DS_store
