@define-color backgroundlight #283648;
@define-color backgrounddark #192330;
@define-color workspacesbackground1 #283648;
@define-color workspacesbackground2 #192330;
@define-color bordercolor #81b29a;
@define-color textcolor1 #cdcecf;
@define-color textcolor2 #cdcecf;
@define-color textcolor3 #192330;
@define-color iconcolor #81b29a;
@define-color alertcolor #c94f6d;


* {
    border:        none;
    border-radius: 0;
    font-family:   "Hack";
    font-size:     14px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 0px solid #ffffff;
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#workspaces {
    background: @workspacesbackground1;
    margin: 2px 1px 0px 1px;
    padding: 1px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 0.8;
    color: @textcolor3;
}

#workspaces button {
    padding: 2px 5px 0px 5px;
    margin: 2px 3px;
    border-radius: 15px;
    border: 0px;
    color: @textcolor3;
    background-color: @iconcolor;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @textcolor3;
    background: @iconcolor;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: @textcolor3;
    background: @iconcolor;
    border-radius: 15px;
    opacity:0.7;
}

tooltip {
    border-radius: 10px;
    background-color: @backgroundlight;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @textcolor2;
}

label:focus {
    background-color: #000000;
}

#taskbar {
    background: @backgroundlight;
    margin: 2px 15px 0px 10px;
    padding:0px;
    border-radius: 10px;
    font-weight: normal;
    font-style: normal;
    opacity:0.8;
    border: 3px solid @backgroundlight;
}

#taskbar button {
    margin:0;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
}

#bluetooth, #bluetooth.on, #bluetooth.connected {
    background-color: @backgroundlight;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 10px;
    padding: 2px 10px 0px 10px;
    margin: 2px 15px 0px 0px;
    opacity:0.8;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}


#window,
#pulseaudio,
#custom-zypper,
#backlight,
#network,
#tray,
#battery {
    background: @backgroundlight;
    background-color: @backgroundlight;
    color: @textcolor2;
    margin: 2px 15px 0px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 10px;
    opacity:0.8;
}

window#waybar.empty #window {
    background-color:transparent;
}

#battery.charging, #battery.plugged {
    color: @textcolor2;
    background-color: @backgroundlight;
}

@keyframes blink {
    to {
        background-color: @backgroundlight;
        color: @textcolor2;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @textcolor3;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#network.ethernet {
    background-color: @backgroundlight;
    color: @textcolor2;
}

#network.wifi {
    background-color: @backgroundlight;
    color: @textcolor2;
}

#pulseaudio.muted {
    background-color: @backgrounddark;
    color: @textcolor1;
}

#custom-systray,
#custom-system {
    margin-right: 15px;
    font-weight: bold;
    opacity: 0.8;
    color: @iconcolor;
}

#disk,#memory,#cpu {
    margin:0px;
    padding:0px;
    font-size:16px;
    color:@iconcolor;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @backgroundlight;
    color: @alertcolor;
}

#user,
#clock {
    background-color: @backgrounddark;
    color: @textcolor1;
    margin: 2px 5px 0px 5px;
    padding: 2px 10px 0px 10px;
    border-radius: 10px;
    opacity:0.8;
    border:3px solid @bordercolor;   
}


#idle_inhibitor {
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.8;
    color: @iconcolor;
}

#idle_inhibitor.activated {
    background-color: #dc2f2f;
    font-size: 14px;
    color:#ffffff;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 2px 15px 0px 0px;
    opacity:0.8;    
}









#custom-scratchpad {
    margin: 0px	5px;
    padding: 0px 5px;
}



