<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
    <item label="File Manager"><action name="Execute"><command><![CDATA[xdg-open .]]></command></action></item>
    <item label="Terminal"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
    <item label="Web Browser"><action name="Execute"><command><![CDATA[xdg-open http://]]></command></action></item>
    <item label="Run command"><action name="Execute"><command><![CDATA[gmrun]]></command></action></item>
  <separator label="Categories"/>
  <menu id="0.701069660092802" label="Accessories">
    <item label="About Xfce"><action name="Execute"><command><![CDATA[xfce4-about]]></command></action></item>
    <item label="Albert"><action name="Execute"><command><![CDATA[albert]]></command></action></item>
    <item label="Archive Manager"><action name="Execute"><command><![CDATA[file-roller]]></command></action></item>
    <item label="Bulk Rename"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="Clocks"><action name="Execute"><command><![CDATA[gnome-clocks]]></command></action></item>
    <item label="compton"><action name="Execute"><command><![CDATA[compton]]></command></action></item>
    <item label="File Manager PCManFM"><action name="Execute"><command><![CDATA[pcmanfm]]></command></action></item>
    <item label="File Manager"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="Files"><action name="Execute"><command><![CDATA[nautilus --new-window]]></command></action></item>
    <item label="Kate"><action name="Execute"><command><![CDATA[kate -b]]></command></action></item>
    <item label="KCalc"><action name="Execute"><command><![CDATA[kcalc]]></command></action></item>
    <item label="KCharSelect"><action name="Execute"><command><![CDATA[kcharselect --qwindowtitle]]></command></action></item>
    <item label="KColorChooser"><action name="Execute"><command><![CDATA[kcolorchooser]]></command></action></item>
    <item label="KeePass"><action name="Execute"><command><![CDATA[keepass]]></command></action></item>
    <item label="KeePassX"><action name="Execute"><command><![CDATA[keepassx]]></command></action></item>
    <item label="KGpg"><action name="Execute"><command><![CDATA[kgpg]]></command></action></item>
    <item label="Kleopatra"><action name="Execute"><command><![CDATA[kleopatra]]></command></action></item>
    <item label="KMag"><action name="Execute"><command><![CDATA[kmag]]></command></action></item>
    <item label="KMouseTool"><action name="Execute"><command><![CDATA[kmousetool -qwindowtitle]]></command></action></item>
    <item label="KNotes"><action name="Execute"><command><![CDATA[knotes]]></command></action></item>
    <item label="Kompare"><action name="Execute"><command><![CDATA[kompare -o]]></command></action></item>
    <item label="KRuler"><action name="Execute"><command><![CDATA[kruler]]></command></action></item>
    <item label="LightDM GTK+ Greeter settings"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="Neovim"><action name="Execute"><command><![CDATA[xterm -e 'nvim']]></command></action></item>
    <item label="Openbox Configuration Manager"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Plank"><action name="Execute"><command><![CDATA[plank]]></command></action></item>
    <item label="Qt 4 Settings"><action name="Execute"><command><![CDATA[/usr/bin/qtconfig]]></command></action></item>
    <item label="Run Program..."><action name="Execute"><command><![CDATA[xfce4-appfinder --collapsed]]></command></action></item>
    <item label="Spectacle"><action name="Execute"><command><![CDATA[spectacle]]></command></action></item>
    <item label="SUSE Studio Imagewriter"><action name="Execute"><command><![CDATA[imagewriter]]></command></action></item>
    <item label="Terminal Emulator"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Text Editor"><action name="Execute"><command><![CDATA[gedit]]></command></action></item>
    <item label="Thunar File Manager"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Tweaks"><action name="Execute"><command><![CDATA[gnome-tweaks]]></command></action></item>
    <item label="Visual Studio Code"><action name="Execute"><command><![CDATA[/usr/share/code/code --unity-launch]]></command></action></item>
    <item label="Wacom Tablet finder"><action name="Execute"><command><![CDATA[kde_wacom_tabletfinder]]></command></action></item>
    <item label="Xfce Application Finder"><action name="Execute"><command><![CDATA[xfce4-appfinder]]></command></action></item>
  </menu>
  <menu id="0.363855219303758" label="Development">
    <item label="Builder"><action name="Execute"><command><![CDATA[gnome-builder]]></command></action></item>
    <item label="Devhelp"><action name="Execute"><command><![CDATA[devhelp]]></command></action></item>
    <item label="Elementary Test"><action name="Execute"><command><![CDATA[elementary_test]]></command></action></item>
    <item label="Git Gui"><action name="Execute"><command><![CDATA[git gui]]></command></action></item>
    <item label="Glade"><action name="Execute"><command><![CDATA[glade]]></command></action></item>
    <item label="Meld"><action name="Execute"><command><![CDATA[meld]]></command></action></item>
    <item label="Qt 5 Assistant"><action name="Execute"><command><![CDATA[/usr/bin/assistant-qt5]]></command></action></item>
    <item label="Qt 5 D-Bus Viewer"><action name="Execute"><command><![CDATA[/usr/bin/qdbusviewer-qt5]]></command></action></item>
    <item label="Qt 5 Designer"><action name="Execute"><command><![CDATA[/usr/bin/designer-qt5]]></command></action></item>
    <item label="Qt 5 Linguist"><action name="Execute"><command><![CDATA[/usr/bin/linguist-qt5]]></command></action></item>
    <item label="Sysprof"><action name="Execute"><command><![CDATA[sysprof]]></command></action></item>
    <item label="Visual Studio Code"><action name="Execute"><command><![CDATA[/usr/share/code/code --unity-launch]]></command></action></item>
  </menu>
  <menu id="0.443229267179174" label="Education">
    <item label="KDE Marble"><action name="Execute"><command><![CDATA[marble]]></command></action></item>
  </menu>
  <menu id="0.125182616614389" label="Games">
    <item label="KMahjongg"><action name="Execute"><command><![CDATA[kmahjongg -qwindowtitle]]></command></action></item>
    <item label="KMines"><action name="Execute"><command><![CDATA[kmines -qwindowtitle]]></command></action></item>
    <item label="KPatience"><action name="Execute"><command><![CDATA[kpat -qwindowtitle]]></command></action></item>
    <item label="KReversi"><action name="Execute"><command><![CDATA[kreversi -qwindowtitle]]></command></action></item>
    <item label="KSudoku"><action name="Execute"><command><![CDATA[ksudoku -qwindowicon ksudoku -qwindowtitle]]></command></action></item>
  </menu>
  <menu id="0.0104554899854357" label="Graphics">
    <item label="Darktable"><action name="Execute"><command><![CDATA[/usr/bin/darktable]]></command></action></item>
    <item label="digiKam"><action name="Execute"><command><![CDATA[digikam -qwindowtitle]]></command></action></item>
    <item label="Document Viewer"><action name="Execute"><command><![CDATA[evince]]></command></action></item>
    <item label="GIMP"><action name="Execute"><command><![CDATA[gimp-2.8]]></command></action></item>
    <item label="Gpick"><action name="Execute"><command><![CDATA[gpick]]></command></action></item>
    <item label="gThumb"><action name="Execute"><command><![CDATA[gthumb]]></command></action></item>
    <item label="Gwenview"><action name="Execute"><command><![CDATA[gwenview]]></command></action></item>
    <item label="Hugin Batch Processor"><action name="Execute"><command><![CDATA[PTBatcherGUI]]></command></action></item>
    <item label="Hugin Calibrate Lens"><action name="Execute"><command><![CDATA[calibrate_lens_gui]]></command></action></item>
    <item label="Hugin Panorama Creator"><action name="Execute"><command><![CDATA[hugin]]></command></action></item>
    <item label="Image Viewer"><action name="Execute"><command><![CDATA[gpicview]]></command></action></item>
    <item label="LibreOffice Draw"><action name="Execute"><command><![CDATA[libreoffice --draw]]></command></action></item>
    <item label="Okular"><action name="Execute"><command><![CDATA[okular]]></command></action></item>
    <item label="showFoto"><action name="Execute"><command><![CDATA[showfoto -qwindowtitle]]></command></action></item>
    <item label="Skanlite"><action name="Execute"><command><![CDATA[skanlite -qwindowtitle]]></command></action></item>
  </menu>
  <menu id="0.387915946528651" label="Multimedia">
    <item label="Brasero"><action name="Execute"><command><![CDATA[brasero]]></command></action></item>
    <item label="Dragon Player"><action name="Execute"><command><![CDATA[dragon]]></command></action></item>
    <item label="K3b"><action name="Execute"><command><![CDATA[k3b]]></command></action></item>
    <item label="mpv Media Player"><action name="Execute"><command><![CDATA[mpv --player-operation-mode=pseudo-gui --]]></command></action></item>
    <item label="PulseAudio Volume Control"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="VLC media player"><action name="Execute"><command><![CDATA[/usr/bin/vlc --started-from-file]]></command></action></item>
  </menu>
  <menu id="0.592034043182448" label="Network">
    <item label="Akregator"><action name="Execute"><command><![CDATA[akregator]]></command></action></item>
    <item label="Chromium"><action name="Execute"><command><![CDATA[chromium]]></command></action></item>
    <item label="Firefox"><action name="Execute"><command><![CDATA[firefox]]></command></action></item>
    <item label="KDE Connect Indicator"><action name="Execute"><command><![CDATA[kdeconnect-indicator]]></command></action></item>
    <item label="KMail"><action name="Execute"><command><![CDATA[kmail -qwindowtitle]]></command></action></item>
    <item label="KNetAttach"><action name="Execute"><command><![CDATA[knetattach]]></command></action></item>
    <item label="Konversation"><action name="Execute"><command><![CDATA[konversation -qwindowtitle]]></command></action></item>
    <item label="KTnef"><action name="Execute"><command><![CDATA[ktnef]]></command></action></item>
    <item label="Mail Reader"><action name="Execute"><command><![CDATA[exo-open --launch MailReader]]></command></action></item>
    <item label="MEGASync"><action name="Execute"><command><![CDATA[megasync]]></command></action></item>
    <item label="PIM Setting Exporter"><action name="Execute"><command><![CDATA[pimsettingexporter]]></command></action></item>
    <item label="Sieve Editor"><action name="Execute"><command><![CDATA[sieveeditor]]></command></action></item>
    <item label="TigerVNC Viewer"><action name="Execute"><command><![CDATA[/usr/bin/vncviewer]]></command></action></item>
    <item label="Web Browser"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser]]></command></action></item>
  </menu>
  <menu id="0.438449898542864" label="Office">
    <item label="Document Viewer"><action name="Execute"><command><![CDATA[evince]]></command></action></item>
    <item label="GnuCash"><action name="Execute"><command><![CDATA[gnucash]]></command></action></item>
    <item label="KAddressBook"><action name="Execute"><command><![CDATA[kaddressbook]]></command></action></item>
    <item label="KMail"><action name="Execute"><command><![CDATA[kmail -qwindowtitle]]></command></action></item>
    <item label="Kontact"><action name="Execute"><command><![CDATA[kontact]]></command></action></item>
    <item label="KOrganizer"><action name="Execute"><command><![CDATA[korganizer]]></command></action></item>
    <item label="KTnef"><action name="Execute"><command><![CDATA[ktnef]]></command></action></item>
    <item label="LibreOffice Base"><action name="Execute"><command><![CDATA[libreoffice --base]]></command></action></item>
    <item label="LibreOffice Calc"><action name="Execute"><command><![CDATA[libreoffice --calc]]></command></action></item>
    <item label="LibreOffice Draw"><action name="Execute"><command><![CDATA[libreoffice --draw]]></command></action></item>
    <item label="LibreOffice Impress"><action name="Execute"><command><![CDATA[libreoffice --impress]]></command></action></item>
    <item label="LibreOffice Writer"><action name="Execute"><command><![CDATA[libreoffice --writer]]></command></action></item>
    <item label="LibreOffice"><action name="Execute"><command><![CDATA[libreoffice]]></command></action></item>
    <item label="Okular"><action name="Execute"><command><![CDATA[okular]]></command></action></item>
    <item label="PIM Setting Exporter"><action name="Execute"><command><![CDATA[pimsettingexporter]]></command></action></item>
    <item label="Sieve Editor"><action name="Execute"><command><![CDATA[sieveeditor]]></command></action></item>
  </menu>
  <menu id="0.176702378308992" label="Other">
    <item label="Emoji Choice"><action name="Execute"><command><![CDATA[/usr/lib64/ibus/ibus-extension-gtk3]]></command></action></item>
    <item label="Emoji Choice"><action name="Execute"><command><![CDATA[ibus emoji]]></command></action></item>
    <item label="Google Keep - notes and lists"><action name="Execute"><command><![CDATA[/usr/lib64/chromium/chromium --profile-directory=Default --app-id=hmjkmjkepdijhoojdojkdfohbdgmmhki]]></command></action></item>
    <item label="Google Play Music"><action name="Execute"><command><![CDATA[/usr/lib64/chromium/chromium --profile-directory=Default --app-id=fahmaaghhglfmonjliepjlchgpgfmobi]]></command></action></item>
    <item label="Help"><action name="Execute"><command><![CDATA[khelpcenter]]></command></action></item>
    <item label="Terminology"><action name="Execute"><command><![CDATA[terminology]]></command></action></item>
  </menu>
  <menu id="0.966613814759285" label="Settings">
    <item label="Accessibility"><action name="Execute"><command><![CDATA[xfce4-accessibility-settings]]></command></action></item>
    <item label="Appearance"><action name="Execute"><command><![CDATA[xfce4-appearance-settings]]></command></action></item>
    <item label="ARandR"><action name="Execute"><command><![CDATA[arandr]]></command></action></item>
    <item label="Bluetooth"><action name="Execute"><command><![CDATA[blueberry]]></command></action></item>
    <item label="Configure Desktop"><action name="Execute"><command><![CDATA[systemsettings5]]></command></action></item>
    <item label="Customize Look and Feel"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Desktop Preferences"><action name="Execute"><command><![CDATA[pcmanfm --desktop-pref]]></command></action></item>
    <item label="Desktop"><action name="Execute"><command><![CDATA[xfdesktop-settings]]></command></action></item>
    <item label="Display"><action name="Execute"><command><![CDATA[xfce4-display-settings]]></command></action></item>
    <item label="Elementary Configuration"><action name="Execute"><command><![CDATA[elementary_config]]></command></action></item>
    <item label="File Manager"><action name="Execute"><command><![CDATA[thunar-settings]]></command></action></item>
    <item label="Firewall"><action name="Execute"><command><![CDATA[/usr/bin/firewall-config]]></command></action></item>
    <item label="IBus Preferences"><action name="Execute"><command><![CDATA[ibus-setup]]></command></action></item>
    <item label="IcedTea-Web Control Panel"><action name="Execute"><command><![CDATA[/usr/bin/itweb-settings.itweb]]></command></action></item>
    <item label="IcedTea-Web Policy Editor"><action name="Execute"><command><![CDATA[/usr/bin/policyeditor.itweb]]></command></action></item>
    <item label="KDE Connect Settings"><action name="Execute"><command><![CDATA[kcmshell5 kcm_kdeconnect]]></command></action></item>
    <item label="KDE System Settings"><action name="Execute"><command><![CDATA[systemsettings5]]></command></action></item>
    <item label="Keyboard"><action name="Execute"><command><![CDATA[xfce4-keyboard-settings]]></command></action></item>
    <item label="LightDM GTK+ Greeter settings"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="MIME Type Editor"><action name="Execute"><command><![CDATA[xfce4-mime-settings]]></command></action></item>
    <item label="Monitor Settings"><action name="Execute"><command><![CDATA[lxrandr]]></command></action></item>
    <item label="Mouse and Touchpad"><action name="Execute"><command><![CDATA[xfce4-mouse-settings]]></command></action></item>
    <item label="Nitrogen"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label="Notifications"><action name="Execute"><command><![CDATA[xfce4-notifyd-config]]></command></action></item>
    <item label="Openbox Configuration Manager"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Panel"><action name="Execute"><command><![CDATA[xfce4-panel --preferences]]></command></action></item>
    <item label="Power Manager"><action name="Execute"><command><![CDATA[xfce4-power-manager-settings]]></command></action></item>
    <item label="Preferred Applications"><action name="Execute"><command><![CDATA[exo-preferred-applications]]></command></action></item>
    <item label="Qt 4 Settings"><action name="Execute"><command><![CDATA[/usr/bin/qtconfig]]></command></action></item>
    <item label="Removable Drives and Media"><action name="Execute"><command><![CDATA[thunar-volman-settings]]></command></action></item>
    <item label="Screensaver"><action name="Execute"><command><![CDATA[xscreensaver-demo]]></command></action></item>
    <item label="Session and Startup"><action name="Execute"><command><![CDATA[xfce4-session-settings]]></command></action></item>
    <item label="Settings Editor"><action name="Execute"><command><![CDATA[xfce4-settings-editor]]></command></action></item>
    <item label="Settings Manager"><action name="Execute"><command><![CDATA[xfce4-settings-manager]]></command></action></item>
    <item label="Tint2 Settings"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
    <item label="Wacom Tablet finder"><action name="Execute"><command><![CDATA[kde_wacom_tabletfinder]]></command></action></item>
    <item label="Window Manager Tweaks"><action name="Execute"><command><![CDATA[xfwm4-tweaks-settings]]></command></action></item>
    <item label="Window Manager"><action name="Execute"><command><![CDATA[xfwm4-settings]]></command></action></item>
    <item label="Workspaces"><action name="Execute"><command><![CDATA[xfwm4-workspace-settings]]></command></action></item>
    <item label="YaST"><action name="Execute"><command><![CDATA[/usr/bin/xdg-su -c /sbin/yast2]]></command></action></item>
  </menu>
  <menu id="0.000198953335523555" label="System">
    <item label="Bulk Rename"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="Color Profile Viewer"><action name="Execute"><command><![CDATA[gcm-viewer]]></command></action></item>
    <item label="Discover"><action name="Execute"><command><![CDATA[plasma-discover]]></command></action></item>
    <item label="Disks"><action name="Execute"><command><![CDATA[gnome-disks]]></command></action></item>
    <item label="Dolphin"><action name="Execute"><command><![CDATA[dolphin]]></command></action></item>
    <item label="File Manager - Super User Mode"><action name="Execute"><command><![CDATA[dbus-launch dolphin -qwindowtitle "%c" "%u"]]></command></action></item>
    <item label="File Manager PCManFM"><action name="Execute"><command><![CDATA[pcmanfm]]></command></action></item>
    <item label="Firewall"><action name="Execute"><command><![CDATA[/usr/bin/firewall-config]]></command></action></item>
    <item label="GParted"><action name="Execute"><command><![CDATA[/usr/bin/gparted]]></command></action></item>
    <item label="Htop"><action name="Execute"><command><![CDATA[xterm -e 'htop']]></command></action></item>
    <item label="Info Center"><action name="Execute"><command><![CDATA[kinfocenter]]></command></action></item>
    <item label="Install/Remove Software"><action name="Execute"><command><![CDATA[xdg-su -c "/sbin/yast2 sw_single]]></command></action></item>
    <item label="Klipper"><action name="Execute"><command><![CDATA[klipper]]></command></action></item>
    <item label="KNetAttach"><action name="Execute"><command><![CDATA[knetattach]]></command></action></item>
    <item label="Konsole"><action name="Execute"><command><![CDATA[konsole]]></command></action></item>
    <item label="KSysGuard"><action name="Execute"><command><![CDATA[ksysguard]]></command></action></item>
    <item label="KWalletManager"><action name="Execute"><command><![CDATA[kwalletmanager5]]></command></action></item>
    <item label="LightDM GTK+ Greeter settings"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="Log Out"><action name="Execute"><command><![CDATA[xfce4-session-logout]]></command></action></item>
    <item label="MEGASync"><action name="Execute"><command><![CDATA[megasync]]></command></action></item>
    <item label="Network Connections"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="OpenJDK 1.8.0 Policy Tool"><action name="Execute"><command><![CDATA[_BINDIR_/policytool]]></command></action></item>
    <item label="rxvt-unicode"><action name="Execute"><command><![CDATA[urxvt]]></command></action></item>
    <item label="rxvt-unicode-256colors"><action name="Execute"><command><![CDATA[urxvt-256color]]></command></action></item>
    <item label="Settings"><action name="Execute"><command><![CDATA[gnome-control-center --overview]]></command></action></item>
    <item label="SUSE Studio Imagewriter"><action name="Execute"><command><![CDATA[imagewriter]]></command></action></item>
    <item label="Terminal - Super User Mode"><action name="Execute"><command><![CDATA[konsole --profile "Root Shell"]]></command></action></item>
    <item label="Termite"><action name="Execute"><command><![CDATA[termite]]></command></action></item>
    <item label="Thunar File Manager"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Wacom Tablet finder"><action name="Execute"><command><![CDATA[kde_wacom_tabletfinder]]></command></action></item>
    <item label="Xfce Terminal"><action name="Execute"><command><![CDATA[xfce4-terminal]]></command></action></item>
    <item label="Yakuake"><action name="Execute"><command><![CDATA[yakuake]]></command></action></item>
    <item label="YaST"><action name="Execute"><command><![CDATA[/usr/bin/xdg-su -c /sbin/yast2]]></command></action></item>
  </menu>
  <separator/>
  <menu id="0.239193104663606" label="Advanced Settings">
    <item label="Conky RC"><action name="Execute"><command><![CDATA[geany ~/.conkyrc]]></command></action></item>
    <item label="Tint2 Panel"><action name="Execute"><command><![CDATA[geany ~/.config/tint2/tint2rc]]></command></action></item>
  <menu id="0.701749725530124" label="Obmenu-Generator">
    <item label="Menu Schema"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Menu Config"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="Generate a static menu"><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Generate a static menu with icons"><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Generate a dynamic menu"><action name="Execute"><command><![CDATA[obmenu-generator -p]]></command></action></item>
    <item label="Generate a dynamic menu with icons"><action name="Execute"><command><![CDATA[obmenu-generator -p -i]]></command></action></item>
  <separator/>
    <item label="Refresh cache"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
  <menu id="0.0232081232477555" label="Openbox">
    <item label="Openbox Autostart"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/autostart]]></command></action></item>
    <item label="Openbox RC"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="Openbox Menu"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/menu.xml]]></command></action></item>
    <item label="Reconfigure Openbox"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Lock"><action name="Execute"><command><![CDATA[xscreensaver-command -lock]]></command></action></item>
    <item label="Exit"><action name="Exit"/></item>
  </menu>
</openbox_menu>
